.district {
    margin: 1rem;
}
.seeMoreOn {
    color: #0d47a1;
    font-family: Roboto-Medium;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 1.5rem;
}
.district-banner-zh > .district-banner-name {
    font-size: 28px;
}
.district-banner-zh > .district-banner-desc {
    font-size: 13px;
}