.langBtnWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    height: 100%;
}
.langBtnWrapper span {
    width: 100%;
    height: 100%;
    color: grey;
    opacity: 0.9;
    border: none;
    text-decoration: none;
    line-height: 2rem;
    font-size: 12px;
    letter-spacing: 1.2px;
}
.selected {
    opacity: 1;
    border-bottom: 1px solid #1976d2;
}
.selected span {
    font-weight: bold;
    color: #0d47a1;
}