.image-tag-container {
  color: white;
  background-color: #ff8400;
  border: none;
  width: 75px;
  max-width: 100%;
  padding-top: 2px;
  font-size: 9px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-overflow: clip;
  position: absolute;
  top: 6px;
  left: 10px;
}
.image-tag-zh {
  padding-top: 1px;
  font-size: 8px;
  width: 50px;
}
/* .image-tag-text {
} */
