.promotionTicketATag {
    text-decoration: none;
    color: black;
}
.promotionTicket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 1rem 0.3rem 1rem;
    padding: 0.7rem 0.4rem; */
    margin-bottom: 0.3rem;
    padding: 0.7rem 0;
    /* border: 0.5px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    border-radius: 4px; */
    font-size: 14px;
}

.ticketInfo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 77%;
}

.dealName {
    line-height: 1.4;
    font-size: 1rem;
}

.pricings {
    margin-top: 6px;
    margin-bottom: 6px;
}

.pricings .sellingPrice {
    color: #ff8400;
    font-size: 1rem;
    font-weight: bold;
}

.pricings .originalPrice {
    color: #9b9b9b;
    font-size: 10px;
    padding-left: 5px;
    text-decoration-line: line-through;
}

.salesRecord {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.9;
}

.salesRecord img {
    height: 13px;
    margin-right: 4px;
}

.salesRecord span {
    font-size: 10px;
    color: rgba(0,0,0,0.6);
    padding-top: 2px;
}

.bookTicketButton {
    border-radius: 4px;
    background-color: #ff8400;
    padding: 0px 21px;
    text-align: center;
    width: 10%;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bookTicketButton div {
    padding-top: 3px;
    font-size: 10px;
    /* font-weight: bold; */
    color: white;
    letter-spacing: 1.2px;
}