.mainPosterBanner {
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}