.promotionBanner {
    margin: 0.5rem 0.7rem 0.5rem 0.7rem;
    /* width: 100%; */
}
.promotionBanner img {
    width: 100%;
}

.gptAD {
    height: 210px;
    margin-bottom: 0.5rem;
}

iframe {
    border-radius: 4px;
}